<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <object name="DalLogger" type="Spring.Objects.Factory.Config.LogFactoryObject, Spring.Core">
    <property name="logName" value="DX.Listing.Merchant.Data.Dal.Logger"/>
  </object>
  <object name="MongoUrl" type="MongoDB.Driver.MongoUrl, MongoDB.Driver">
    <constructor-arg name="url" value="${MainDb.ConnectionString}" />
  </object>
  <object name="FileMongoUrl" type="MongoDB.Driver.MongoUrl, MongoDB.Driver">
    <constructor-arg name="url" value="${FileDb.ConnectionString}" />
  </object>
  <object name="MongoClient" type="MongoDB.Driver.MongoClient, MongoDB.Driver">
    <constructor-arg name="url" ref="MongoUrl" />
  </object>
  <object name="FileMongoClient" type="MongoDB.Driver.MongoClient, MongoDB.Driver">
    <constructor-arg name="url" ref="FileMongoUrl" />
  </object>
  
  <object name="MongoDbContext" type="DX.Listing.Merchant.Data.Core.MongoDb.MongoDbContext,DX.Listing.Merchant.Data.Core">
    <property name="Url" ref="MongoUrl" />
    <property name="Client" ref="MongoClient" />
  </object>

  <object name="MongoDbRepository" type="DX.Listing.Merchant.Data.Core.MongoDb.MongoDbRepository&lt;>,DX.Listing.Merchant.Data.Core" abstract="true">
    <property name="Logger" ref="DalLogger"></property>
  </object>
  
  <object name="ProductDal" type="DX.Listing.Merchant.Data.Dal.Impl.ProductDal, DX.Listing.Merchant.Data.Dal.Impl" autowire="constructor" parent="MongoDbRepository">
    <constructor-arg name="collectionName" value="product"></constructor-arg>
  </object>
</objects>