<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--<configSections>
    <sectionGroup name="spring">
      --><!--<section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc3" />--><!--
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <spring>
    <parsers>
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
    </parsers>
    <context>
      <resource uri="~/Config/Spring/context.config" />
      <resource uri="~/Config/Spring/dal.config" />
    </context>
  </spring>-->
  
  <connectionStrings>
    <add name="MainDb" connectionString="mongodb://127.0.0.1/merchant" />
    <add name="PdcDb" connectionString="mongodb://127.0.0.1/pdc" />
    <add name="FileDb" connectionString="mongodb://127.0.0.1/merchant" />
    <add name="Logging" connectionString="mongodb://127.0.0.1/xfcLogs"/>
  </connectionStrings>
</configuration>